<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="../hero.ejs">Hero</a>
        <a href="../resume.ejs">Resume</a>
        <a href="../projects.ejs">Projects</a>
        <a href="../info.ejs">About Me</a>
        <a href="../contact.ejs">Contact</a>
    </nav>
</body>
</html>